In [ ]:
import pandas as pd

def zip_csv_to_gzip_parquet(file_path):
    
    df = pd.read_csv(file_path, compression='zip')
    
    df.
    
    return file_path

In [ ]:
path = '/home/admin_123/Desktop/Main/DataSets/FlightsData/Flights/Jan19.zip'

In [ ]:
df = pd.read_csv(path, compression='zip')

In [ ]:
df.head()

In [1]:
spark.sql('SHOW DATABASES').show()

+------------+
|databaseName|
+------------+
|     default|
|      ide_db|
|   ide_db_18|
|landing_zone|
| notebook_db|
| test_schema|
+------------+

In [2]:
spark.sql('USE landing_zone')

DataFrame[]

In [4]:
spark.sql('SHOW TABLES').show(truncate=False)

+------------+---------------------+-----------+
|database    |tableName            |isTemporary|
+------------+---------------------+-----------+
|landing_zone|l_airline_id         |false      |
|landing_zone|l_airport            |false      |
|landing_zone|l_airport_id         |false      |
|landing_zone|l_airport_seq_id     |false      |
|landing_zone|l_cancellation       |false      |
|landing_zone|l_carrier_history    |false      |
|landing_zone|l_city_market_id     |false      |
|landing_zone|l_deparrblk          |false      |
|landing_zone|l_distance_group_250 |false      |
|landing_zone|l_diversions         |false      |
|landing_zone|l_months             |false      |
|landing_zone|l_ontime_delay_groups|false      |
|landing_zone|l_quarters           |false      |
|landing_zone|l_state_abr_aviation |false      |
|landing_zone|l_state_fips         |false      |
|landing_zone|l_unique_carriers    |false      |
|landing_zone|l_weekdays           |false      |
|landing_zone|l_world_area_codes   |false      |
|landing_zone|l_yesno_resp         |false      |
+------------+---------------------+-----------+

In [4]:
spark.sql(
    """
    SELECT * FROM l_airline_id
    """
).show(truncate=False)

+-----+--------------------------------+
|Code |Description                     |
+-----+--------------------------------+
|19031|Mackey International Inc.: MAC  |
|19032|Munz Northern Airlines Inc.: XY |
|19033|Cochise Airlines Inc.: COC      |
|19034|Golden Gate Airlines Inc.: GSA  |
|19035|Aeromech Inc.: RZZ              |
|19036|Golden West Airlines Co.: GLW   |
|19037|Puerto Rico Intl Airlines: PRN  |
|19038|Air America Inc.: STZ           |
|19039|Swift Aire Lines Inc.: SWT      |
|19040|American Central Airlines: TSF  |
|19041|Valdez Airlines: VEZ            |
|19042|Southeast Alaska Airlines: WEB  |
|19043|Altair Airlines Inc.: AAR       |
|19044|Chitina Air Service: CHI        |
|19045|Marco Island Airways Inc.: MRC  |
|19046|Caribbean Air Services Inc.: OHZ|
|19047|Sundance Airlines: PRO          |
|19048|Seair Alaska Airlines Inc.: SAI |
|19049|Southeast Airlines Inc.: SLZ    |
|19050|Alaska Aeronautical Indust.: AAZ|
+-----+--------------------------------+
only showing top 20 rows