In [2]:
%load_ext sparksql_magic

In [ ]:
from delta.tables import *
from sql_constants import missing_val_replace_alphanumeric,missing_val_replace_numeric
from pyspark.sql.functions import col

In [ ]:
%%sparksql
SHOW DATABASES

In [ ]:
%%sparksql
SELECT * FROM LANDING_ZONE.L_AIRLINE_ID LIMIT 5

In [ ]:
%%sparksql
SELECT * FROM INTEGRATION_LAYER.L_AIRLINE_ID LIMIT 5

In [ ]:
delta_l_airline_id = DeltaTable.forPath(spark,'hdfs://localhost:9000/FLIGHTS_DL/INTEGRATION_LAYER/L_AIRLINE_ID')

In [ ]:
delta_l_airline_id.delete()

In [ ]:
%%sparksql
SELECT 
CAST(CODE AS INTEGER) AS CODE
,DESCRIPTION
FROM LANDING_ZONE.L_AIRLINE_ID

In [ ]:
df_LZ_l_airline_id = spark.sql("""
SELECT 
CAST(CODE AS INTEGER) AS CODE
,DESCRIPTION
FROM LANDING_ZONE.L_AIRLINE_ID
""")

In [ ]:
delta_l_airline_id.alias("oldData") \
  .merge(
    df_LZ_l_airline_id.alias("newData"),
    "oldData.CODE = newData.CODE") \
  .whenMatchedUpdate(set = { "DESCRIPTION": col("newData.DESCRIPTION") }) \
  .whenNotMatchedInsert(values = { "CODE": col("newData.CODE"),"DESCRIPTION": col("newData.DESCRIPTION") }) \
  .execute()

In [ ]:
%%sparksql
SELECT COUNT(*) FROM LANDING_ZONE.L_AIRLINE_ID

In [7]:
%%sparksql
SELECT 'L_AIRLINE_ID',COUNT(*) FROM INTEGRATION_LAYER.L_AIRLINE_ID
UNION
SELECT 'L_AIRPORT',COUNT(*) FROM INTEGRATION_LAYER.L_AIRPORT
UNION 
SELECT 'L_AIRPORT_ID',COUNT(*) FROM INTEGRATION_LAYER.L_AIRPORT_ID
UNION
SELECT 'L_AIRPORT_SEQ_ID',COUNT(*) FROM INTEGRATION_LAYER.L_AIRPORT_SEQ_ID
UNION
SELECT 'L_CANCELLATION',COUNT(*) FROM INTEGRATION_LAYER.L_CANCELLATION
UNION
SELECT 'L_CARRIER_HISTORY',COUNT(*) FROM INTEGRATION_LAYER.L_CARRIER_HISTORY
UNION
SELECT 'L_CITY_MARKET_ID',COUNT(*) FROM INTEGRATION_LAYER.L_CITY_MARKET_ID
UNION
SELECT 'L_DEPARRBLK',COUNT(*) FROM INTEGRATION_LAYER.L_DEPARRBLK
UNION
SELECT 'L_DISTANCE_GROUP_250',COUNT(*) FROM INTEGRATION_LAYER.L_DISTANCE_GROUP_250
UNION
SELECT 'L_DIVERSIONS',COUNT(*) FROM INTEGRATION_LAYER.L_DIVERSIONS
UNION
SELECT 'L_MONTHS',COUNT(*) FROM INTEGRATION_LAYER.L_MONTHS
UNION
SELECT 'L_ONTIME_DELAY_GROUPS',COUNT(*) FROM INTEGRATION_LAYER.L_ONTIME_DELAY_GROUPS
UNION
SELECT 'L_QUARTERS',COUNT(*) FROM INTEGRATION_LAYER.L_QUARTERS
UNION
SELECT 'L_STATE_ABR_AVIATION',COUNT(*) FROM INTEGRATION_LAYER.L_STATE_ABR_AVIATION
UNION
SELECT 'L_STATE_FIPS',COUNT(*) FROM INTEGRATION_LAYER.L_STATE_FIPS
UNION
SELECT 'L_UNIQUE_CARRIERS',COUNT(*) FROM INTEGRATION_LAYER.L_UNIQUE_CARRIERS
UNION
SELECT 'L_WEEKDAYS',COUNT(*) FROM INTEGRATION_LAYER.L_WEEKDAYS
UNION
SELECT 'L_WORLD_AREA_CODES',COUNT(*) FROM INTEGRATION_LAYER.L_WORLD_AREA_CODES
UNION
SELECT 'L_YESNO_RESP',COUNT(*) FROM INTEGRATION_LAYER.L_YESNO_RESP

In [ ]:
%%sparksql
SELECT COUNT(*),COUNT(DISTINCT CODE) FROM INTEGRATION_LAYER.L_CARRIER_HISTORY

In [ ]:
%%sparksql
SELECT * FROM INTEGRATION_LAYER.L_CARRIER_HISTORY
WHERE DESCRIPTION = 'Executive Airlines (1990 - 1999)'

In [ ]:
%%sparksql
SELECT * FROM INTEGRATION_LAYER.L_CARRIER_HISTORY
WHERE CODE = 'NA'