# Source Lookups Profiling

<p>A Notebook for technical source lookups profiling</p>

In [1]:
import configparser
import pandas as pd
import logging
import os
from helper_functions.get_profile import get_profile
from helper_functions.read_configs_file import read_configs_file

In [2]:
# Reading the configurations
config = read_configs_file()
config_src_data_path = config.get('PATH','edge_node_path')

### L_AIRLINE_ID :-

In [3]:
try:
    
    df_airline_id = pd.read_csv(os.path.join(config_src_data_path,'L_AIRLINE_ID/L_AIRLINE_ID.csv'))
    print(df_airline_id.head())
    
except Exception as e:
    logging.error(f'failed to open the Directory of source data, {e}')

    Code                      Description
0  19031   Mackey International Inc.: MAC
1  19032  Munz Northern Airlines Inc.: XY
2  19033       Cochise Airlines Inc.: COC
3  19034   Golden Gate Airlines Inc.: GSA
4  19035               Aeromech Inc.: RZZ

In [4]:
get_profile(df_airline_id)

            COL_DTYPE  TOTAL_COUNT UNIQ_VALS  COL_NULLS  COL_NULL%
COL_NAME
Code            int64         1673      1673          0        0.0
Description    object         1673      1673          0        0.0

### L_AIRPORT :-

In [5]:
try:
    
    df_airport = pd.read_csv(os.path.join(config_src_data_path,'L_AIRPORT/L_AIRPORT.csv'))
    print(df_airport.head())
    
except Exception as e:
    logging.error(f'failed to open the Directory of source data, {e}')

  Code                                    Description
0  01A         Afognak Lake, AK: Afognak Lake Airport
1  03A  Granite Mountain, AK: Bear Creek Mining Strip
2  04A                       Lik, AK: Lik Mining Camp
3  05A         Little Squaw, AK: Little Squaw Airport
4  06A                     Kizhuyak, AK: Kizhuyak Bay

In [6]:
get_profile(df_airport)

            COL_DTYPE  TOTAL_COUNT UNIQ_VALS  COL_NULLS  COL_NULL%
COL_NAME
Code           object         6560      6560          0        0.0
Description    object         6560      6515          0        0.0

### L_AIRPORT_ID :-

In [7]:
try:
    
    df_airport_id = pd.read_csv(os.path.join(config_src_data_path,'L_AIRPORT_ID/L_AIRPORT_ID.csv'))
    print(df_airport_id.head())
    
except Exception as e:
    logging.error(f'failed to open the Directory of source data, {e}')

    Code                                    Description
0  10001         Afognak Lake, AK: Afognak Lake Airport
1  10003  Granite Mountain, AK: Bear Creek Mining Strip
2  10004                       Lik, AK: Lik Mining Camp
3  10005         Little Squaw, AK: Little Squaw Airport
4  10006                     Kizhuyak, AK: Kizhuyak Bay

In [8]:
get_profile(df_airport_id)

            COL_DTYPE  TOTAL_COUNT UNIQ_VALS  COL_NULLS  COL_NULL%
COL_NAME
Code            int64         6543      6543          0        0.0
Description    object         6543      6523          0        0.0

### L_AIRPORT_SEQ_ID :-

In [9]:
try:
    
    df_airport_seq_id = pd.read_csv(os.path.join(config_src_data_path,'L_AIRPORT_SEQ_ID/L_AIRPORT_SEQ_ID.csv'))
    print(df_airport_seq_id.head())
    
except Exception as e:
    logging.error(f'failed to open the Directory of source data, {e}')

      Code                                    Description
0  1000101         Afognak Lake, AK: Afognak Lake Airport
1  1000301  Granite Mountain, AK: Bear Creek Mining Strip
2  1000401                       Lik, AK: Lik Mining Camp
3  1000501         Little Squaw, AK: Little Squaw Airport
4  1000601                     Kizhuyak, AK: Kizhuyak Bay

In [10]:
get_profile(df_airport_seq_id)

            COL_DTYPE  TOTAL_COUNT UNIQ_VALS  COL_NULLS  COL_NULL%
COL_NAME
Code            int64        18095     18095          0        0.0
Description    object        18095      8365          0        0.0

### L_CANCELLATION :-

In [11]:
try:
    
    df_cancellation = pd.read_csv(os.path.join(config_src_data_path,'L_CANCELLATION/L_CANCELLATION.csv'))
    print(df_cancellation.head())
    
except Exception as e:
    logging.error(f'failed to open the Directory of source data, {e}')

  Code          Description
0    A              Carrier
1    B              Weather
2    C  National Air System
3    D             Security

In [12]:
get_profile(df_cancellation)

            COL_DTYPE  TOTAL_COUNT UNIQ_VALS  COL_NULLS  COL_NULL%
COL_NAME
Code           object            4         4          0        0.0
Description    object            4         4          0        0.0

### L_CARRIER_HISTORY :-

In [13]:
try:
    
    df_carrier_history = pd.read_csv(os.path.join(config_src_data_path,'L_CARRIER_HISTORY/L_CARRIER_HISTORY.csv'))
    print(df_carrier_history.head())
    
except Exception as e:
    logging.error(f'failed to open the Directory of source data, {e}')

  Code                              Description
0  02Q                  Titan Airways (2006 - )
1  04Q             Tradewind Aviation (2006 - )
2  05Q        Comlux Aviation, AG (2006 - 2012)
3  06Q  Master Top Linhas Aereas Ltd. (2007 - )
4  07Q            Flair Airlines Ltd. (2007 - )

In [14]:
get_profile(df_carrier_history)

            COL_DTYPE  TOTAL_COUNT UNIQ_VALS  COL_NULLS  COL_NULL%
COL_NAME
Code           object         1937      1732          2        0.1
Description    object         1937      1936          0        0.0

In [15]:
df_carrier_history[df_carrier_history.Code.isnull()]

     Code                            Description
1163  NaN       Executive Airlines (1990 - 1999)
1164  NaN  North American Airlines (2005 - 2014)

### L_CITY_MARKET_ID :-

In [16]:
try:
    
    df_city_market_id = pd.read_csv(os.path.join(config_src_data_path,'L_CITY_MARKET_ID/L_CITY_MARKET_ID.csv'))
    print(df_city_market_id.head())
    
except Exception as e:
    logging.error(f'failed to open the Directory of source data, {e}')

    Code           Description
0  30001      Afognak Lake, AK
1  30003  Granite Mountain, AK
2  30004               Lik, AK
3  30005      Little Squaw, AK
4  30006          Kizhuyak, AK

In [17]:
get_profile(df_city_market_id)

            COL_DTYPE  TOTAL_COUNT UNIQ_VALS  COL_NULLS  COL_NULL%
COL_NAME
Code            int64         5917      5917          0        0.0
Description    object         5917      5917          0        0.0

### L_DEPARRBLK :-

In [18]:
try:
    
    df_deparblk = pd.read_csv(os.path.join(config_src_data_path,'L_DEPARRBLK/L_DEPARRBLK.csv'))
    print(df_deparblk.head())
    
except Exception as e:
    logging.error(f'failed to open the Directory of source data, {e}')

        Code        Description
0  0001-0559  12:00AM to 5:59AM
1  0600-0659   6:00AM to 6:59AM
2  0700-0759   7:00AM to 7:59AM
3  0800-0859   8:00AM to 8:59AM
4  0900-0959   9:00AM to 9:59AM

In [19]:
get_profile(df_deparblk)

            COL_DTYPE  TOTAL_COUNT UNIQ_VALS  COL_NULLS  COL_NULL%
COL_NAME
Code           object           19        19          0        0.0
Description    object           19        19          0        0.0

### L_DISTANCE_GROUP_250 :-

In [20]:
try:
    
    df_distance_group_250 = pd.read_csv(os.path.join(config_src_data_path,'L_DISTANCE_GROUP_250/L_DISTANCE_GROUP_250.csv'))
    print(df_distance_group_250.head())
    
except Exception as e:
    logging.error(f'failed to open the Directory of source data, {e}')

   Code          Description
0     1  Less Than 250 Miles
1     2        250-499 Miles
2     3        500-749 Miles
3     4        750-999 Miles
4     5      1000-1249 Miles

In [21]:
get_profile(df_distance_group_250)

            COL_DTYPE  TOTAL_COUNT UNIQ_VALS  COL_NULLS  COL_NULL%
COL_NAME
Code            int64           11        11          0        0.0
Description    object           11        11          0        0.0

### L_DIVERSIONS :-

In [22]:
try:
    
    df_diversions = pd.read_csv(os.path.join(config_src_data_path,'L_DIVERSIONS/L_DIVERSIONS.csv'))
    print(df_diversions.head())
    
except Exception as e:
    logging.error(f'failed to open the Directory of source data, {e}')

   Code                      Description
0     0           Flight is not Diverted
1     1     One Diverted Airport Landing
2     2    Two Diverted Airport Landings
3     3  Three Diverted Airport Landings
4     4   Four Diverted Airport Landings

In [23]:
get_profile(df_diversions)

            COL_DTYPE  TOTAL_COUNT UNIQ_VALS  COL_NULLS  COL_NULL%
COL_NAME
Code            int64            7         7          0        0.0
Description    object            7         7          0        0.0

### L_MONTHS :-

In [24]:
try:
    
    df_months = pd.read_csv(os.path.join(config_src_data_path,'L_MONTHS/L_MONTHS.csv'))
    print(df_months.head())
    
except Exception as e:
    logging.error(f'failed to open the Directory of source data, {e}')

   Code Description
0     1     January
1     2    February
2     3       March
3     4       April
4     5         May

In [25]:
get_profile(df_months)

            COL_DTYPE  TOTAL_COUNT UNIQ_VALS  COL_NULLS  COL_NULL%
COL_NAME
Code            int64           12        12          0        0.0
Description    object           12        12          0        0.0

### L_ONTIME_DELAY_GROUPS :-

In [26]:
try:
    
    df_ontime_delay_groups = pd.read_csv(os.path.join(config_src_data_path,'L_ONTIME_DELAY_GROUPS/L_ONTIME_DELAY_GROUPS.csv'))
    print(df_ontime_delay_groups.head())
    
except Exception as e:
    logging.error(f'failed to open the Directory of source data, {e}')

   Code                       Description
0    -2               Delay < -15 minutes
1    -1  Delay between -15 and -1 minutes
2     0    Delay between 0 and 14 minutes
3     1    Delay between 15 to 29 minutes
4     2    Delay between 30 to 44 minutes

In [27]:
get_profile(df_ontime_delay_groups)

            COL_DTYPE  TOTAL_COUNT UNIQ_VALS  COL_NULLS  COL_NULL%
COL_NAME
Code            int64           15        15          0        0.0
Description    object           15        15          0        0.0

### L_QUARTERS :-

In [28]:
try:
    
    df_quarters = pd.read_csv(os.path.join(config_src_data_path,'L_QUARTERS/L_QUARTERS.csv'))
    print(df_quarters.head())
    
except Exception as e:
    logging.error(f'failed to open the Directory of source data, {e}')

   Code                     Description
0     1     Quarter1:January 1-March 31
1     2        Quarter2:April 1-June 30
2     3    Quarter3:July 1-September 30
3     4  Quarter4:October 1-December 31

In [29]:
get_profile(df_quarters)

            COL_DTYPE  TOTAL_COUNT UNIQ_VALS  COL_NULLS  COL_NULL%
COL_NAME
Code            int64            4         4          0        0.0
Description    object            4         4          0        0.0

### L_STATE_ABR_AVIATION :-

In [30]:
try:
    
    df_state_abr_aviation = pd.read_csv(os.path.join(config_src_data_path,'L_STATE_ABR_AVIATION/L_STATE_ABR_AVIATION.csv'))
    print(df_state_abr_aviation.head())
    
except Exception as e:
    logging.error(f'failed to open the Directory of source data, {e}')

  Code      Description
0   AB  Alberta, Canada
1   AK           Alaska
2   AL          Alabama
3   AR         Arkansas
4   AZ          Arizona

In [31]:
get_profile(df_state_abr_aviation)

            COL_DTYPE  TOTAL_COUNT UNIQ_VALS  COL_NULLS  COL_NULL%
COL_NAME
Code           object           67        67          0        0.0
Description    object           67        67          0        0.0

### L_STATE_FIPS :-

In [32]:
try:
    
    df_state_fips = pd.read_csv(os.path.join(config_src_data_path,'L_STATE_FIPS/L_STATE_FIPS.csv'))
    print(df_state_fips.head())
    
except Exception as e:
    logging.error(f'failed to open the Directory of source data, {e}')

   Code     Description
0     0  Not Applicable
1     1         Alabama
2     2          Alaska
3     4         Arizona
4     5        Arkansas

In [33]:
get_profile(df_state_fips)

            COL_DTYPE  TOTAL_COUNT UNIQ_VALS  COL_NULLS  COL_NULL%
COL_NAME
Code            int64           74        74          0        0.0
Description    object           74        73          0        0.0

### L_UNIQUE_CARRIERS :-

In [34]:
try:
    
    df_unique_carries = pd.read_csv(os.path.join(config_src_data_path,'L_UNIQUE_CARRIERS/L_UNIQUE_CARRIERS.csv'))
    print(df_unique_carries.head())
    
except Exception as e:
    logging.error(f'failed to open the Directory of source data, {e}')

  Code                    Description
0  02Q                  Titan Airways
1  04Q             Tradewind Aviation
2  05Q            Comlux Aviation, AG
3  06Q  Master Top Linhas Aereas Ltd.
4  07Q            Flair Airlines Ltd.

In [35]:
get_profile(df_unique_carries)

            COL_DTYPE  TOTAL_COUNT UNIQ_VALS  COL_NULLS  COL_NULL%
COL_NAME
Code           object         1673      1672          1       0.06
Description    object         1673      1673          0       0.00

### L_WEEKDAYS :-

In [36]:
try:
    
    df_weekdays = pd.read_csv(os.path.join(config_src_data_path,'L_WEEKDAYS/L_WEEKDAYS.csv'))
    print(df_weekdays.head(10))
    
except Exception as e:
    logging.error(f'failed to open the Directory of source data, {e}')

   Code Description
0     1      Monday
1     2     Tuesday
2     3   Wednesday
3     4    Thursday
4     5      Friday
5     6    Saturday
6     7      Sunday
7     9     Unknown

In [37]:
get_profile(df_weekdays)

            COL_DTYPE  TOTAL_COUNT UNIQ_VALS  COL_NULLS  COL_NULL%
COL_NAME
Code            int64            8         8          0        0.0
Description    object            8         8          0        0.0

### L_WORLD_AREA_CODES :-

In [38]:
try:
    
    df_world_area_codes = pd.read_csv(os.path.join(config_src_data_path,'L_WORLD_AREA_CODES/L_WORLD_AREA_CODES.csv'))
    print(df_world_area_codes.head())
    
except Exception as e:
    logging.error(f'failed to open the Directory of source data, {e}')

   Code                                     Description
0     1                                          Alaska
1     2                                          Hawaii
2     3                                     Puerto Rico
3     4                             U.S. Virgin Islands
4     5  U.S. Pacific Trust Territories and Possessions

In [39]:
get_profile(df_world_area_codes)

            COL_DTYPE  TOTAL_COUNT UNIQ_VALS  COL_NULLS  COL_NULL%
COL_NAME
Code            int64          333       333          0        0.0
Description    object          333       329          0        0.0

### L_YESNO_RESP :-

In [40]:
try:
    
    df_yesno_resp = pd.read_csv(os.path.join(config_src_data_path,'L_YESNO_RESP/L_YESNO_RESP.csv'))
    print(df_yesno_resp.head())
    
except Exception as e:
    logging.error(f'failed to open the Directory of source data, {e}')

   Code Description
0     0          No
1     1         Yes
2     3       Maybe

In [41]:
get_profile(df_yesno_resp)

            COL_DTYPE  TOTAL_COUNT UNIQ_VALS  COL_NULLS  COL_NULL%
COL_NAME
Code            int64            3         3          0        0.0
Description    object            3         3          0        0.0